@font-face {
   font-family: 'DINNextLTPro-Bold';
   font-display: swap;
   src: url('file:///Users/dave/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-02-26_165314/fonts/DINNextLTPro-Bold/font.woff');
}
