@font-face {
   font-family: 'DIN Next LT Pro Medium';
   font-display: swap;
   src: url('file:///Users/dave/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-02-26_165314/fonts/DIN%20Next%20LT%20Pro%20Medium/font.woff');
}
